<% @repos_subs.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |sub| %> 
         <%= render sub.repo %><%# repos/repo.html.erb %>   
    <% end %>
  </div>
<% end %>






