<h2>Subscribe To a Repo on Github</h2>

<ul class="unstyled">
	<% @repos.each do |repo| %>
	  <li>
      <%= link_to "#{repo.user_name}/#{repo.name}", repo %> <span class="label label-info"><%= repo.issues_count %> issues</span>
	  </li>
	<% end %>
</ul>

<%= will_paginate @repos %>

<%= link_to "Add a Repo", new_repo_path, :class => 'btn btn-primary' %>
