<h2>Subscribe To a Repo on Github</h2>

<%= render 'shared/repos', repos: @repos, languages: @languages, selected_lang: @selected_lang %>

<%= will_paginate @repos %>

<%= link_to "Add a Repo", new_repo_path, :class => 'btn btn-primary' %>
