You want to help open-source. That's great. CodeTriage is a tool for helping you find contribution ideas, but what then? CodeTriage University is filled with docs and tips for making your contribution journey successful.

## I'm stuck getting started

While CodeTriage helps by sending issues from repos, how do you pick the open-source repo to help?

- **[Picking an open-source repo to help](university/picking_a_repo)**
- **[Triage with Me - 11 issues & 2 PRs in 1.5 hours](https://www.schneems.com/2020/09/22/triage-with-me-11-issues-2-prs-in-15-hours/)**

## The handbook

- [How to Open Source](https://howtoopensource.dev) is a paid book by Richard Schneeman sold under a creative commons license. It aims to teach developers actionable steps to grow from a coder into a contributor.

<div align="center">
  <a href="https://howtoopensource.dev/">
    <img src="https://howtoopensource.dev/images/HowToOpenSource_FinalCover.jpg" style="width: 150px" alt="How to Open Source book cover" />
  </a>
</div>

## I want to report a bug

When opening an issue about a bug, the number one thing anyone will want to know is: "how can I reproduce this problem." To help answer that question we've got some guides helping to explain what an excellent reproduction looks like and why:

- **[Please Provide Reproduction Code](reproduction)** is a general-purpose article
- **[Please Provide an Example App](example_app)** is a more specific case where the bug involves an "application," for instance, a Rails app.

## I made a PR now what

When you make a PR (Pull Request), the maintainer might ask you to do some housekeeping tasks such as "rebase and squash" your code. Don't worry. We can help explain some of this weird terminology and let you know what to do:

- **[Rebase your code](rebase)**
- **[Squash your commits](squash)**
