---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/schneems/sextant/issues?direction=desc&page=1&sort=comments
    body:
      encoding: UTF-8
      string: '{"page":1,"sort":"comments","direction":"desc"}'
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1460053565'
      Etag:
      - '"9f5443d5c04de72cb26244bc1e3a5ad7"'
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/schneems/sextant/issues/34","repository_url":"https://api.github.com/repos/schneems/sextant","labels_url":"https://api.github.com/repos/schneems/sextant/issues/34/labels{/name}","comments_url":"https://api.github.com/repos/schneems/sextant/issues/34/comments","events_url":"https://api.github.com/repos/schneems/sextant/issues/34/events","html_url":"https://github.com/schneems/sextant/pull/34","id":16258826,"number":34,"title":"Add
        Filter options based on controller.","user":{"login":"shamithc","id":404230,"avatar_url":"https://avatars.githubusercontent.com/u/404230?v=3","gravatar_id":"","url":"https://api.github.com/users/shamithc","html_url":"https://github.com/shamithc","followers_url":"https://api.github.com/users/shamithc/followers","following_url":"https://api.github.com/users/shamithc/following{/other_user}","gists_url":"https://api.github.com/users/shamithc/gists{/gist_id}","starred_url":"https://api.github.com/users/shamithc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/shamithc/subscriptions","organizations_url":"https://api.github.com/users/shamithc/orgs","repos_url":"https://api.github.com/users/shamithc/repos","events_url":"https://api.github.com/users/shamithc/events{/privacy}","received_events_url":"https://api.github.com/users/shamithc/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"milestone":null,"comments":5,"created_at":"2013-07-02T11:07:11Z","updated_at":"2014-06-25T10:09:34Z","closed_at":null,"pull_request":{"url":"https://api.github.com/repos/schneems/sextant/pulls/34","html_url":"https://github.com/schneems/sextant/pull/34","diff_url":"https://github.com/schneems/sextant/pull/34.diff","patch_url":"https://github.com/schneems/sextant/pull/34.patch"},"body":"Filter
        routes based on controller. \r\nEnabled select box of controllers in right
        side of screen."},{"url":"https://api.github.com/repos/schneems/sextant/issues/29","repository_url":"https://api.github.com/repos/schneems/sextant","labels_url":"https://api.github.com/repos/schneems/sextant/issues/29/labels{/name}","comments_url":"https://api.github.com/repos/schneems/sextant/issues/29/comments","events_url":"https://api.[...]
- request:
    method: get
    uri: https://api.github.com/repos/schneems/sextant/issues?direction=desc&page=1&sort=comments&state=open
    body:
      encoding: UTF-8
      string: '{"state":"open","page":1,"sort":"comments","direction":"desc"}'
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
   [...]
- request:
    method: get
    uri: https://api.github.com/repos/schneems/sextant
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1460053565'
      Etag:
      - '"739a972801cd39829785eedf3ba803d0"'
      Last-Modified:
      - Thu, 31 Mar 2016 13:58:11 GMT
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
    body:
      encoding: UTF-8
      string: '{"id":4400834,"name":"sextant","full_name":"schneems/sextant","owner":{"login":"schneems","id":59744,"avatar_url":"https://avatars.githubusercontent.com/u/59744?v=3","gravatar_id":"","url":"https://api.github.com/users/schneems","html_url":"https://github.com/schneems","followers_url":"https://api.github.com/users/schneems/followers","following_url":"https://api.github.com/users/schneems/following{/other_user}","gists_url":"https://api.github.com/users/schneems/gists{/gist_id}","starred_url":"https://api.github.com/users/schneems/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/schneems/subscriptions","organizations_url":"https://api.github.com/users/schneems/orgs","repos_url":"https://api.github.com/users/schneems/repos","events_url":"https://api.github.com/users/schneems/events{/privacy}","received_events_url":"https://api.github.com/users/schneems/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/schneems/sextant","description":"find
        your route on a long journey over Rails with Sextant","fork":false,"url":"https://api.github.com/repos/schneems/sextant","forks_url":"https://api.github.com/repos/schneems/sextant/forks","keys_url":"https://api.github.com/repos/schneems/sextant/keys{/key_id}","collaborators_url":"https://api.github.com/repos/schneems/sextant/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/schneems/sextant/teams","hooks_url":"https://api.github.com/repos/schneems/sextant/hooks","issue_events_url":"https://api.github.com/repos/schneems/sextant/issues/events{/number}","events_url":"https://api.github.com/repos/schneems/sextant/events","assignees_url":"https://api.github.com/repos/schneems/sextant/assignees{/user}","branches_url":"https://api.github.com/repos/schneems/sextant/branches{/branch}","tags_url":"https://api.github.com/repos/schneems/sextant/tags","blobs_url":"https://api.github.com/repos/schneems/sextant/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/schneems/sextant/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/schneems/sextant/git/refs{/sha}","trees_url":"https://api.github.com/repos/schneems/sextant/git/trees{/sha}","statuses_url":"https://api.github.com/repos/schneems/sextant/statuses/{sha}","languages_url":"https://api.github.com/repos/schneems/sextant/languages","stargazers_url":"https://api.github.com/repos/schneems/sextant/stargazers","contributors_url":"https://api.github.com/repos/schneems/sextant/contributors","subscribers_url":"https://api.github.com/repos/schneems/sextant/subscribers","subscription_url":"https://api.github.com/repos/schneems/sextant/subscription","commits_url":"https://api.github.com/repos/schneems/sextant/commits{/sha}","git_commits_url":"https://api.github.com/repos/schneems/sextant/git/commits{/sha}","comments_url":"https://api.github.com/repos/schneems/sextant/comments{/number}","issue_comment_url":"https://api.github.com/repos/schneems/sextant/issues/comments{/number}","contents_url":"https://api.github.com/repos/schneems/sextant/contents/{+path}","compare_url":"https://api.github.com/repos/schneems/sextant/compare/{base}...{head}","merges_url":"https://api.github.com/repos/schneems/sextant/merges","archive_url":"https://api.github.com/repos/schneems/sextant/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/schneems/sextant/downloads","issues_url":"https://api.github.com/repos/schneems/sextant/issues{/number}","pulls_url":"https://api.github.com/repos/schneems/sextant/pulls{/number}","milestones_url":"https://api.github.com/repos/schneems/sextant/milestones{/number}","notifications_url":"https://api.github.com/repos/schneems/sextant/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/schneems/sextant/labels{/name}","releases_url":"https://api.github.com/repos/schneems/sextant/releases{/id}","deployments_url":"https://api.github.com/repos/schneems/sextant/deployments","created_at":"2012-05-22T01:24:33Z","updated_at":"2016-03-31T13:58:11Z","pushed_at":"2013-06-22T03:45:26Z","git_url":"git://github.com/schneems/sextant.git","ssh_url":"git@github.com:schneems/sextant.git","clone_url":"https://github.com/schneems/sextant.git","svn_url":"https://github.com/schneems/sextant","homepage":null,"size":600,"stargazers_count":585,"watchers_count":585,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":38,"mirror_url":null,"open_issues_count":2,"forks":38,"open_issues":2,"watchers":585,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"network_count":38,"subscribers_count":13}'
  recorded_at: Thu, 07 Apr 2016 17:26:06 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/schneems/sextant/commits/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1460053565'
      Etag:
      - '"db3a4c3c517743bef39c57690fb0b614"'
      Last-Modified:
      - Sat, 22 Jun 2013 03:45:26 GMT
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"f111fec8a3b89c2f19fc0c859e834ea7d47c6164","commit":{"author":{"name":"Richard
        Schneeman","email":"richard.schneeman@gmail.com","date":"2013-06-22T03:45:26Z"},"committer":{"name":"Richard
        Schneeman","email":"richard.schneeman@gmail.com","date":"2013-06-22T03:45:26Z"},"message":"Merge
        pull request #32 from ddidier/master\n\n Extracted styles into a stylesheet","tree":{"sha":"bb36b7a8cb10015799f5a5e52c8352ed43f149f1","url":"https://api.github.com/repos/schneems/sextant/git/trees/bb36b7a8cb10015799f5a5e52c8352ed43f149f1"},"url":"https://api.github.com/repos/schneems/sextant/git/commits/f111fec8a3b89c2f19fc0c859e834ea7d47c6164","comment_count":0},"url":"https://api.github.com/repos/schneems/sextant/commits/f111fec8a3b89c2f19fc0c859e834ea7d47c6164","html_url":"https://github.com/schneems/sextant/commit/f111fec8a3b89c2f19fc0c859e834ea7d47c6164","comments_url":"https://api.github.com/repos/schneems/sextant/commits/f111fec8a3b89c2f19fc0c859e834ea7d47c6164/comments","author":{"login":"schneems","id":59744,"avatar_url":"https://avatars.githubusercontent.com/u/59744?v=3","gravatar_id":"","url":"https://api.github.com/users/schneems","html_ur[...]
