---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/schneems/sextant/issues?direction=desc&page=1&sort=comments
    body:
      encoding: UTF-8
      string: '{"page":1,"sort":"comments","direction":"desc"}'
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4966'
      X-Ratelimit-Reset:
      - '1387305925'
      Etag:
      - '"f9c532a8c0dcb0721311806137e2b82a"'
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email,
        user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets,
        user:assets:read
      X-Github-Media-Type:
      - github.beta; param=3.raw; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/schneems/sextant/issues/34","labels_url":"https://api.github.com/repos/schneems/sextant/issues/34/labels{/name}","comments_url":"https://api.github.com/repos/schneems/sextant/issues/34/comments","events_url":"https://api.github.com/repos/schneems/sextant/issues/34/events","html_url":"https://github.com/schneems/sextant/pull/34","id":16258826,"number":34,"title":"Add
        Filter options based on controller.","user":{"login":"shamithc","id":404230,"avatar_url":"https://gravatar.com/avatar/dec24df48717fb3c6c023bd57abda1b7?d=https%3A%2F%2Fidenticons.github.com%2Ff8b201320680f114e19dbcc80bf00eb2.png&r=x","gravatar_id":"dec24df48717fb3c6c023bd57abda1b7","url":"https://api.github.com/users/shamithc","html_url":"https://github.com/shamithc","followers_url":"https://api.github.com/users/shamithc/followers","following_url":"https://api.github.com/users/shamithc/following{/other_user}","gists_url":"https://api.github.com/users/shamithc/gists{/gist_id}","starred_url":"https://api.github.com/users/shamithc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/shamithc/subscriptions","organizations_url":"https://api.github.com/users/shamithc/orgs","repos_url":"https://api.github.com/users/shamithc/repos","events_url":"https://api.github.com/users/shamithc/events{/privacy}","received_events_url":"https://api.github.com/users/shamithc/received_events","type":"User","site_admin":false},"labels":[],"state":"open","assignee":null,"milestone":null,"comments":5,"created_at":"2013-07-02T11:07:11Z","updated_at":"2013-08-02T06:55:19Z","closed_at":null,"pull_request":{"html_url":"https://github.com/schneems/sextant/pull/34","diff_url":"https://github.com/schneems/sextant/pull/34.diff","patch_url":"https://github.com/schneems/sextant/pull/34.patch"},"body":"Filter
        routes based on controller. \r\nEnabled select box of controllers in right
        side of screen."},{"url":"https://api.github.com/repos/schneems/sextant/issues/29","labels_url":"https://api.github.com/repos/schneems/sextant/issues/29/labels{/name}","comments_url":"https://api.github.com/repos/schneems/sextant/issues/29/comments","events_url":"https://api.github.com/repos/schneems/sextant/issues/29/events","html_url":"h[...]
- request:
    method: get
    uri: https://api.github.com/repos/schneems/sextant/issues?direction=desc&page=1&sort=comments&state=open
    body:
      encoding: UTF-8
      string: '{"state":"open","page":1,"sort":"comments","direction":"desc"}'
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
   [...]
- request:
    method: get
    uri: https://api.github.com/repos/schneems/sextant
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4964'
      X-Ratelimit-Reset:
      - '1387305925'
      Last-Modified:
      - Mon, 09 Dec 2013 13:23:52 GMT
      Etag:
      - '"04e81ea04d1ae86b09e3508a6b2de3d6"'
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email,
        user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets,
        user:assets:read
      X-Github-Media-Type:
      - github.beta; param=3.raw; format=json
    body:
      encoding: UTF-8
      string: '{"id":4400834,"name":"sextant","full_name":"schneems/sextant","owner":{"login":"schneems","id":59744,"avatar_url":"https://gravatar.com/avatar/db953d125f5cc49756edb6149f1b813e?d=https%3A%2F%2Fidenticons.github.com%2F6ef42a6eab211ddd71ac423a80b42d15.png&r=x","gravatar_id":"db953d125f5cc49756edb6149f1b813e","url":"https://api.github.com/users/schneems","html_url":"https://github.com/schneems","followers_url":"https://api.github.com/users/schneems/followers","following_url":"https://api.github.com/users/schneems/following{/other_user}","gists_url":"https://api.github.com/users/schneems/gists{/gist_id}","starred_url":"https://api.github.com/users/schneems/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/schneems/subscriptions","organizations_url":"https://api.github.com/users/schneems/orgs","repos_url":"https://api.github.com/users/schneems/repos","events_url":"https://api.github.com/users/schneems/events{/privacy}","received_events_url":"https://api.github.com/users/schneems/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/schneems/sextant","description":"find
        your route on a long journey over Rails with Sextant","fork":false,"url":"https://api.github.com/repos/schneems/sextant","forks_url":"https://api.github.com/repos/schneems/sextant/forks","keys_url":"https://api.github.com/repos/schneems/sextant/keys{/key_id}","collaborators_url":"https://api.github.com/repos/schneems/sextant/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/schneems/sextant/teams","hooks_url":"https://api.github.com/repos/schneems/sextant/hooks","issue_events_url":"https://api.github.com/repos/schneems/sextant/issues/events{/number}","events_url":"https://api.github.com/repos/schneems/sextant/events","assignees_url":"https://api.github.com/repos/schneems/sextant/assignees{/user}","branches_url":"https://api.github.com/repos/schneems/sextant/branches{/branch}","tags_url":"https://api.github.com/repos/schneems/sextant/tags","blobs_url":"https://api.github.com/repos/schneems/sextant/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/schneems/sextant/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/schneems/sextant/git/refs{/sha}","trees_url":"https://api.github.com/repos/schneems/sextant/git/trees{/sha}","statuses_url":"https://api.github.com/repos/schneems/sextant/statuses/{sha}","languages_url":"https://api.github.com/repos/schneems/sextant/languages","stargazers_url":"https://api.github.com/repos/schneems/sextant/stargazers","contributors_url":"https://api.github.com/repos/schneems/sextant/contributors","subscribers_url":"https://api.github.com/repos/schneems/sextant/subscribers","subscription_url":"https://api.github.com/repos/schneems/sextant/subscription","commits_url":"https://api.github.com/repos/schneems/sextant/commits{/sha}","git_commits_url":"https://api.github.com/repos/schneems/sextant/git/commits{/sha}","comments_url":"https://api.github.com/repos/schneems/sextant/comments{/number}","issue_comment_url":"https://api.github.com/repos/schneems/sextant/issues/comments/{number}","contents_url":"https://api.github.com/repos/schneems/sextant/contents/{+path}","compare_url":"https://api.github.com/repos/schneems/sextant/compare/{base}...{head}","merges_url":"https://api.github.com/repos/schneems/sextant/merges","archive_url":"https://api.github.com/repos/schneems/sextant/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/schneems/sextant/downloads","issues_url":"https://api.github.com/repos/schneems/sextant/issues{/number}","pulls_url":"https://api.github.com/repos/schneems/sextant/pulls{/number}","milestones_url":"https://api.github.com/repos/schneems/sextant/milestones{/number}","notifications_url":"https://api.github.com/repos/schneems/sextant/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/schneems/sextant/labels{/name}","releases_url":"https://api.github.com/repos/schneems/sextant/releases{/id}","created_at":"2012-05-22T01:24:33Z","updated_at":"2013-12-09T13:23:52Z","pushed_at":"2013-06-22T03:45:26Z","git_url":"git://github.com/schneems/sextant.git","ssh_url":"git@github.com:schneems/sextant.git","clone_url":"https://github.com/schneems/sextant.git","svn_url":"https://github.com/schneems/sextant","homepage":null,"size":272,"stargazers_count":525,"watchers_count":525,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":33,"mirror_url":null,"open_issues_count":3,"forks":33,"open_issues":3,"watchers":525,"default_branch":"master","master_branch":"master","permissions":{"admin":false,"push":false,"pull":true},"network_count":33,"subscribers_count":13}'
  recorded_at: Tue, 17 Dec 2013 18:03:43 GMT
recorded_with: VCR 2.5.0
