---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/schneems/sextant/issues?direction=desc&page=1&sort=comments&state=open
    body:
      encoding: UTF-8
      string: '{"state":"open","page":1,"sort":"comments","direction":"desc"}'
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '46'
      X-Ratelimit-Reset:
      - '1375072726'
      Last-Modified:
      - Mon, 29 Jul 2013 02:42:22 GMT
      Etag:
      - '"45cb6f3cb17f63788de8c24fbe0f683e"'
      X-Github-Media-Type:
      - github.beta; param=3.raw; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/schneems/sextant/issues/34","labels_url":"https://api.github.com/repos/schneems/sextant/issues/34/labels{/name}","comments_url":"https://api.github.com/repos/schneems/sextant/issues/34/comments","events_url":"https://api.github.com/repos/schneems/sextant/issues/34/events","html_url":"https://github.com/schneems/sextant/issues/34","id":16258826,"number":34,"title":"Add
        Filter options based on controller.","user":{"login":"shamithc","id":404230,"avatar_url":"https://secure.gravatar.com/avatar/dec24df48717fb3c6c023bd57abda1b7?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","gravatar_id":"dec24df48717fb3c6c023bd57abda1b7","url":"https://api.github.com/users/shamithc","html_url":"https://github.com/shamithc","followers_url":"https://api.github.com/users/shamithc/followers","following_url":"https://api.github.com/users/shamithc/following{/other_user}","gists_url":"https://api.github.com/users/shamithc/gists{/gist_id}","starred_url":"https://api.github.com/users/shamithc/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/shamithc/subscriptions","organizations_url":"https://api.github.com/users/shamithc/orgs","repos_url":"https://api.github.com/users/shamithc/repos","events_url":"https://api.github.com/users/shamithc/events{/privacy}","received_events_url":"https://api.github.com/users/shamithc/received_events","type":"User"},"labels":[],"state":"open","assignee":null,"milestone":null,"comments":4,"created_at":"2013-07-02T11:07:11Z","updated_at":"2013-07-16T04:49:11Z","closed_at":null,"pull_request":{"html_url":"https://github.com/schneems/sextant/pull/34","diff_url":"https://github.com/schneems/sextant/pull/34.diff","patch_url":"https://github.com/schneems/sextant/pull/34.patch"},"body":"Filter
        routes based on controller. \r\nEnabled select box of controllers in right
        side of screen."},{"url":"https://api.github.com/repos/schneems/sextant/issues/29","labels_url":"https://api.github.com/repos/schneems/sextant/issues/29/labels{/name}","comments_url":"https://api.github.com/repos/schneems/sextant/issues/29/comments","events_url":"https://api.github.com/repos/schneems/sextant/issues/29/events","html_url":"h[...]
- request:
    method: get
    uri: https://api.github.com/repos/schneems/sextant
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '45'
      X-Ratelimit-Reset:
      - '1375072726'
      Last-Modified:
      - Mon, 29 Jul 2013 02:42:22 GMT
      Etag:
      - '"45cb6f3cb17f63788de8c24fbe0f683e"'
      X-Github-Media-Type:
      - github.beta; param=3.raw; format=json
    body:
      encoding: UTF-8
      string: '{"id":4400834,"name":"sextant","full_name":"schneems/sextant","owner":{"login":"schneems","id":59744,"avatar_url":"https://secure.gravatar.com/avatar/db953d125f5cc49756edb6149f1b813e?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","gravatar_id":"db953d125f5cc49756edb6149f1b813e","url":"https://api.github.com/users/schneems","html_url":"https://github.com/schneems","followers_url":"https://api.github.com/users/schneems/followers","following_url":"https://api.github.com/users/schneems/following{/other_user}","gists_url":"https://api.github.com/users/schneems/gists{/gist_id}","starred_url":"https://api.github.com/users/schneems/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/schneems/subscriptions","organizations_url":"https://api.github.com/users/schneems/orgs","repos_url":"https://api.github.com/users/schneems/repos","events_url":"https://api.github.com/users/schneems/events{/privacy}","received_events_url":"https://api.github.com/users/schneems/received_events","type":"User"},"private":false,"html_url":"https://github.com/schneems/sextant","description":"find
        your route on a long journey over Rails with Sextant","fork":false,"url":"https://api.github.com/repos/schneems/sextant","forks_url":"https://api.github.com/repos/schneems/sextant/forks","keys_url":"https://api.github.com/repos/schneems/sextant/keys{/key_id}","collaborators_url":"https://api.github.com/repos/schneems/sextant/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/schneems/sextant/teams","hooks_url":"https://api.github.com/repos/schneems/sextant/hooks","issue_events_url":"https://api.github.com/repos/schneems/sextant/issues/events{/number}","events_url":"https://api.github.com/repos/schneems/sextant/events","assignees_url":"https://api.github.com/repos/schneems/sextant/assignees{/user}","branches_url":"https://api.github.com/repos/schneems/sextant/branches{/branch}","tags_url":"https://api.github.com/repos/schneems/sextant/tags","blobs_url":"https://api.github.com/repos/schneems/sextant/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/schneems/sextant/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/schneems/sextant/git/refs{/sha}","trees_url":"https://api.github.com/repos/schneems/sextant/git/trees{/sha}","statuses_url":"https://api.github.com/repos/schneems/sextant/statuses/{sha}","languages_url":"https://api.github.com/repos/schneems/sextant/languages","stargazers_url":"https://api.github.com/repos/schneems/sextant/stargazers","contributors_url":"https://api.github.com/repos/schneems/sextant/contributors","subscribers_url":"https://api.github.com/repos/schneems/sextant/subscribers","subscription_url":"https://api.github.com/repos/schneems/sextant/subscription","commits_url":"https://api.github.com/repos/schneems/sextant/commits{/sha}","git_commits_url":"https://api.github.com/repos/schneems/sextant/git/commits{/sha}","comments_url":"https://api.github.com/repos/schneems/sextant/comments{/number}","issue_comment_url":"https://api.github.com/repos/schneems/sextant/issues/comments/{number}","contents_url":"https://api.github.com/repos/schneems/sextant/contents/{+path}","compare_url":"https://api.github.com/repos/schneems/sextant/compare/{base}...{head}","merges_url":"https://api.github.com/repos/schneems/sextant/merges","archive_url":"https://api.github.com/repos/schneems/sextant/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/schneems/sextant/downloads","issues_url":"https://api.github.com/repos/schneems/sextant/issues{/number}","pulls_url":"https://api.github.com/repos/schneems/sextant/pulls{/number}","milestones_url":"https://api.github.com/repos/schneems/sextant/milestones{/number}","notifications_url":"https://api.github.com/repos/schneems/sextant/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/schneems/sextant/labels{/name}","created_at":"2012-05-22T01:24:33Z","updated_at":"2013-07-29T02:42:22Z","pushed_at":"2013-06-22T03:45:26Z","git_url":"git://github.com/schneems/sextant.git","ssh_url":"git@github.com:schneems/sextant.git","clone_url":"https://github.com/schneems/sextant.git","svn_url":"https://github.com/schneems/sextant","homepage":null,"size":272,"watchers_count":493,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":34,"mirror_url":null,"open_issues_count":3,"forks":34,"open_issues":3,"watchers":493,"master_branch":"master","default_branch":"master","network_count":34}'
  recorded_at: Mon, 29 Jul 2013 04:26:13 GMT
recorded_with: VCR 2.5.0
