.clearfix
  = f.label :email, t("activerecord.attributes.user.email", default: "Email"), class: "label label-info"
  .controls
    .input-prepend
      span.add-on
        i.icon-envelope
      = f.text_field :email, class: 'text_field'
  = f.label :daily_issue_limit, t("activerecord.attributes.user.daily_issue_limit", default: "Max # of issues you want to receive per day"), class: "label label-info"
  .input
    = f.number_field :daily_issue_limit, class: 'number_field', min: 0
  = f.check_box :skip_issues_with_pr, class: 'checkbox'
  => f.label :skip_issues_with_pr, t("activerecord.attributes.user.skip_issues_with_pr", default: "Skip Issues with Pull requests"), class: "label label-info"
.form-actions
  => button_tag "Save", class: "button full-width-action"
