---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/bemurphy/issue_triage_sandbox/issues?direction=desc&page=1&sort=comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Limit:
      - '60'
      Last-Modified:
      - Sat, 10 Nov 2012 22:20:24 GMT
      X-Github-Media-Type:
      - github.beta; param=3.raw; format=json
      Etag:
      - ! '"3fd9a6dd61fb4efb4118a2206be1747c"'
    body:
      encoding: US-ASCII
      string: ! '[{"created_at":"2012-11-10T22:20:24Z","comments":0,"body":"test","assignee":null,"user":{"avatar_url":"https://secure.gravatar.com/avatar/cbb474a7852a90b1a64c904b8eef6eec?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","url":"https://api.github.com/users/bemurphy","gravatar_id":"cbb474a7852a90b1a64c904b8eef6eec","id":124661,"login":"bemurphy"},"title":"first
        test issue","number":1,"pull_request":{"patch_url":null,"diff_url":null,"html_url":null},"closed_at":null,"updated_at":"2012-11-10T22:20:24Z","milestone":null,"state":"open","html_url":"https://github.com/bemurphy/issue_triage_sandbox/issues/1","url":"https://api.github.com/repos/bemurphy/issue_triage_sandbox/issues/1","labels":[],"id":8266221}]'
  recorded_at: Sat, 10 Nov 2012 22:39:39 GMT
recorded_with: VCR 2.3.0
