---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?per_page=100&type=owner
    body:
      encoding: UTF-8
      string: '{"type":"owner","per_page":"100"}'
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1499374646'
      Etag:
      - '"663da9172f941dae510c3aa59a9e7143"'
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_APP_ID>"
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
    body:
      encoding: UTF-8
      string: '[{"id":21221564,"name":"Angular-Rails-Example","full_name":"DavidRagone/Angular-Rails-Example","owner":{"login":"DavidRagone","id":1452099,"avatar_url":"https://avatars1.githubusercontent.com/u/1452099?v=3","gravatar_id":"","url":"https://api.github.com/users/DavidRagone","html_url":"https://github.com/DavidRagone","followers_url":"https://api.github.com/users/DavidRagone/followers","following_url":"https://api.github.com/users/DavidRagone/following{/other_user}","gists_url":"https://api.github.com/users/DavidRagone/gists{/gist_id}","starred_url":"https://api.github.com/users/DavidRagone/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/DavidRagone/subscriptions","organizations_url":"https://api.github.com/users/DavidRagone/orgs","repos_url":"https://api.github.com/users/DavidRagone/repos","events_url":"https://api.github.com/users/DavidRagone/events{/privacy}","received_events_url":"https://api.github.com/users/DavidRagone/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/DavidRagone/Angular-Rails-Example","description":"Sample
        app to practice adding AngularJS to a Rails app","fork":false,"url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example","forks_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/forks","keys_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/keys{/key_id}","collaborators_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/teams","hooks_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/hooks","issue_events_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/issues/events{/number}","events_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/events","assignees_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/assignees{/user}","branches_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/branches{/branch}","tags_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/tags","blobs_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/git/refs{/sha}","trees_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/git/trees{/sha}","statuses_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/statuses/{sha}","languages_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/languages","stargazers_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/stargazers","contributors_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/contributors","subscribers_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/subscribers","subscription_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/subscription","commits_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/commits{/sha}","git_commits_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/git/commits{/sha}","comments_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/comments{/number}","issue_comment_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/issues/comments{/number}","contents_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/contents/{+path}","compare_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/compare/{base}...{head}","merges_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/merges","archive_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/downloads","issues_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/issues{/number}","pulls_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/pulls{/number}","milestones_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/milestones{/number}","notifications_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/labels{/name}","releases_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/releases{/id}","deployments_url":"https://api.github.com/repos/DavidRagone/Angular-Rails-Example/deployments","created_at":"2014-06-25T23:12:38Z","updated_at":"2014-06-25T23:15:48Z","pushed_at":"2014-06-25T23:38:00Z","git_url":"git://github.com/DavidRagone/Angular-Rails-Example.git","ssh_url":"git@github.com:DavidRagone/Angular-Rails-Example.git","clone_url":"https://github.com/DavidRagone/Angular-Rails-Example.git","svn_url":"https://github.com/DavidRagone/Angular-Rails-Example","homepage":null,"size":332,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":1,"forks":0,"open_issues":1,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":94234957,"name":"awesome","full_name":"DavidRagone/awesome","owner":{"login":"DavidRagone","id":1452099,"avatar_url":"https://avatars1.githubusercontent.com/u/1452099?v=3","gravatar_id":"","url":"https://api.github.com/users/DavidRagone","html_url":"https://github.com/DavidRagone","followers_url":"https://api.github.com/users/DavidRagone/followers","following_url":"https://api.github.com/users/DavidRagone/following{/other_user}","gists_url":"https://api.github.com/users/DavidRagone/[...]
- request:
    method: get
    uri: https://api.github.com/user/starred
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1499374646'
      Etag:
      - '"b74b015c4757d5174725af38eaab8d1b"'
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_APP_ID>"
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
      Link:
      - <https://api.github.com/user/starred?page=2>; rel="next", <https://api.github.com/user/starred?page=9>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        W3siaWQiOjk0MDU5NzMwLCJuYW1lIjoibmV4dC1ibG9nIiwiZnVsbF9uYW1lIjoidHNjYW5saW4vbmV4dC1ibG9nIiwib3duZXIiOnsibG9naW4iOiJ0c2NhbmxpbiIsImlkIjo1MDMzMDMyLCJhdmF0YXJfdXJsIjoiaHR0cHM6Ly9hdmF0YXJzMi5naXRodWJ1c2VyY29udGVudC5jb20vdS81MDMzMDMyP3Y9MyIsImdyYXZhdGFyX2lkIjoiIiwidXJsIjoiaHR0cHM6Ly9hcGkuZ2l0aHViLmNvbS[...]
- request:
    method: get
    uri: https://api.github.com/user/subscriptions
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1499374646'
      Etag:
    [...]
- request:
    method: get
    uri: https://api.github.com/repos/issues?direction=desc&page=1&sort=comments&state=open
    body:
      encoding: UTF-8
      string: '{"state":"open","page":1,"sort":"comments","direction":"desc"}'
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1499374646'
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - "<GITHUB_APP_ID>"
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Thu, 06 Jul 2017 20:04:39 GMT
[...]
