---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?per_page=100&type=owner
    body:
      encoding: UTF-8
      string: '{"type":"owner","per_page":"100"}'
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1430443348'
      Etag:
      - '"293983a981351dee85ac53a30ac3f81e"'
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_APP_ID>"
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
    body:
      encoding: UTF-8
      string: '[{"id":26725883,"name":"Apollo","full_name":"chrisccerami/Apollo","owner":{"login":"chrisccerami","id":7838511,"avatar_url":"https://avatars.githubusercontent.com/u/7838511?v=3","gravatar_id":"","url":"https://api.github.com/users/chrisccerami","html_url":"https://github.com/chrisccerami","followers_url":"https://api.github.com/users/chrisccerami/followers","following_url":"https://api.github.com/users/chrisccerami/following{/other_user}","gists_url":"https://api.github.com/users/chrisccerami/gists{/gist_id}","starred_url":"https://api.github.com/users/chrisccerami/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chrisccerami/subscriptions","organizations_url":"https://api.github.com/users/chrisccerami/orgs","repos_url":"https://api.github.com/users/chrisccerami/repos","events_url":"https://api.github.com/users/chrisccerami/events{/privacy}","received_events_url":"https://api.github.com/users/chrisccerami/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/chrisccerami/Apollo","description":"","fork":false,"url":"https://api.github.com/repos/chrisccerami/Apollo","forks_url":"https://api.github.com/repos/chrisccerami/Apollo/forks","keys_url":"https://api.github.com/repos/chrisccerami/Apollo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/chrisccerami/Apollo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/chrisccerami/Apollo/teams","hooks_url":"https://api.github.com/repos/chrisccerami/Apollo/hooks","issue_events_url":"https://api.github.com/repos/chrisccerami/Apollo/issues/events{/number}","events_url":"https://api.github.com/repos/chrisccerami/Apollo/events","assignees_url":"https://api.github.com/repos/chrisccerami/Apollo/assignees{/user}","branches_url":"https://api.github.com/repos/chrisccerami/Apollo/branches{/branch}","tags_url":"https://api.github.com/repos/chrisccerami/Apollo/tags","blobs_url":"https://api.github.com/repos/chrisccerami/Apollo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/chrisccerami/Apollo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/chrisccerami/Apollo/git/refs{/sha}","trees_url":"https://api.github.com/repos/chrisccerami/Apollo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/chrisccerami/Apollo/statuses/{sha}","languages_url":"https://api.github.com/repos/chrisccerami/Apollo/languages","stargazers_url":"https://api.github.com/repos/chrisccerami/Apollo/stargazers","contributors_url":"https://api.github.com/repos/chrisccerami/Apollo/contributors","subscribers_url":"https://api.github.com/repos/chrisccerami/Apollo/subscribers","subscription_url":"https://api.github.com/repos/chrisccerami/Apollo/subscription","commits_url":"https://api.github.com/repos/chrisccerami/Apollo/commits{/sha}","git_commits_url":"https://api.github.com/repos/chrisccerami/Apollo/git/commits{/sha}","comments_url":"https://api.github.com/repos/chrisccerami/Apollo/comments{/number}","issue_comment_url":"https://api.github.com/repos/chrisccerami/Apollo/issues/comments{/number}","contents_url":"https://api.github.com/repos/chrisccerami/Apollo/contents/{+path}","compare_url":"https://api.github.com/repos/chrisccerami/Apollo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/chrisccerami/Apollo/merges","archive_url":"https://api.github.com/repos/chrisccerami/Apollo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/chrisccerami/Apollo/downloads","issues_url":"https://api.github.com/repos/chrisccerami/Apollo/issues{/number}","pulls_url":"https://api.github.com/repos/chrisccerami/Apollo/pulls{/number}","milestones_url":"https://api.github.com/repos/chrisccerami/Apollo/milestones{/number}","notifications_url":"https://api.github.com/repos/chrisccerami/Apollo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/chrisccerami/Apollo/labels{/name}","releases_url":"https://api.github.com/repos/chrisccerami/Apollo/releases{/id}","created_at":"2014-11-16T19:51:11Z","updated_at":"2015-01-11T14:48:13Z","pushed_at":"2014-11-16T20:11:25Z","git_url":"git://github.com/chrisccerami/Apollo.git","ssh_url":"git@github.com:chrisccerami/Apollo.git","clone_url":"https://github.com/chrisccerami/Apollo.git","svn_url":"https://github.com/chrisccerami/Apollo","homepage":null,"size":124,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":28071597,"name":"breakable_toybox","full_name":"chrisccerami/breakable_toybox","owner":{"login":"chrisccerami","id":7838511,"avatar_url":"https://avatars.githubusercontent.com/u/7838511?v=3","gravatar_id":"","url":"https://api.github.com/users/chrisccerami","html_url":"https://github.com/chrisccerami","followers_url":"https://api.github.com/users/chrisccerami/followers","following_url":"https://api.github.com/users/chrisccerami/following{/other_user}","gists_url":"https://api.github[...]
- request:
    method: get
    uri: https://api.github.com/user/starred
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4970'
      X-Ratelimit-Reset:
      - '1430443348'
      Etag:
      - '"[...]
- request:
    method: get
    uri: https://api.github.com/user/subscriptions
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4969'
      X-Ratelimit-Reset:
      - '1430443348'
      Etag:
      - '"bdad3631106561d912af99358ae6f946"'
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_APP_ID>"
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
      Link:
      - <https://api.github.com/user/subscriptions?page=2>; rel="next", <https://api.github.com/user/subscriptions?page=2>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"id":23688157,"name":"demo_app","full_name":"chrisccerami/demo_app","owner":{"login":"chrisccerami","id":7838511,"avatar_url":"https://avatars.githubusercontent.com/u/7838511?v=3","gravatar_id":"","url":"https://api.github.com/users/chrisccerami","html_url":"https://github.com/chrisccerami","followers_url"[...]
- request:
    method: get
    uri: https://api.github.com/repos/issues?direction=desc&page=1&sort=comments
    body:
      encoding: UTF-8
      string: '{"page":1,"sort":"comments","direction":"desc"}'
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4968'
      X-Ratelimit-Reset:
      - '1430443348'
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - "<GITHUB_APP_ID>"
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Fri, 01 May 2015 00:34:31 GMT
- request:
    method: get
    uri: https://api.github.com/user/repos?type=owner
    body:
      encoding: UTF-8
      string: '{"type":"owner"}'
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4967'
      X-Ratelimit-Reset:
      - '1430443348'[...]
