---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/rails/rails/issues/8404/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1460053565'
      Etag:
      - '"fa7338669645b5e71aca922d0c9fea61"'
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/rails/rails/issues/comments/10948897","html_url":"https://github.com/rails/rails/pull/8404#issuecomment-10948897","issue_url":"https://api.github.com/repos/rails/rails/issues/8404","id":10948897,"user":{"login":"steveklabnik","id":27786,"avatar_url":"https://avatars.githubusercontent.com/u/27786?v=3","gravatar_id":"","url":"https://api.github.com/users/steveklabnik","html_url":"https://github.com/steveklabnik","followers_url":"https://api.github.com/users/steveklabnik/followers","following_url":"https://api.github.com/users/steveklabnik/following{/other_user}","gists_url":"https://api.github.com/users/steveklabnik/gists{/gist_id}","starred_url":"https://api.github.com/users/steveklabnik/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/steveklabnik/subscriptions","organizations_url":"https://api.github.com/users/steveklabnik/orgs","repos_url":"https://api.github.com/users/steveklabnik/repos","events_url":"https://api.github.com/users/steveklabnik/events{/privacy}","received_events_url":"https://api.github.com/users/steveklabnik/received_events","type":"User","site_admin":false},"created_at":"2012-12-03T11:07:25Z","updated_at":"2012-12-03T11:07:25Z","body":"I
        like it. :)"},{"url":"https://api.github.com/repos/rails/rails/issues/comments/10949168","html_url":"https://github.com/rails/rails/pull/8404#issuecomment-10949168","issue_url":"https://api.github.com/repos/rails/rails/issues/8404","id":10949168,"user":{"login":"pixeltrix","id":6321,"avatar_url":"https://avatars.githubusercontent.com/u/6321?v=3","gravatar_id":"","url":"https://api.github.com/users/pixeltrix","html_url":"https://github.com/pixeltrix","foll[...]
