---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/rails/rails/issues/8404/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Remaining:
      - '56'
      Last-Modified:
      - Mon, 03 Dec 2012 23:32:45 GMT
      Etag:
      - ! '"ffce16ec58f3e5f9d5bcc86d4cc1cd7f"'
      X-Github-Media-Type:
      - github.beta; param=raw.3; format=json
      X-Ratelimit-Limit:
      - '60'
    body:
      encoding: US-ASCII
      string: ! '[{"created_at":"2012-12-03T11:07:25Z","body":"I like it. :)","url":"https://api.github.com/repos/rails/rails/issues/comments/10948897","issue_url":"https://api.github.com/repos/rails/rails/issues/8945060","user":{"type":"User","gists_url":"https://api.github.com/users/steveklabnik/gists{/gist_id}","following_url":"https://api.github.com/users/steveklabnik/following","login":"steveklabnik","subscriptions_url":"https://api.github.com/users/steveklabnik/subscriptions","avatar_url":"https://secure.gravatar.com/avatar/233c279c012ebac792aaa805f966cbc7?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","events_url":"https://api.github.com/users/steveklabnik/events{/privacy}","url":"https://api.github.com/users/steveklabnik","repos_url":"https://api.github.com/users/steveklabnik/repos","starred_url":"https://api.github.com/users/steveklabnik/starred{/owner}{/repo}","received_events_url":"https://api.github.com/users/steveklabnik/received_events","organizations_url":"https://api.github.com/users/steveklabnik/orgs","id":27786,"followers_url":"https://api.github.com/users/steveklabnik/followers","gravatar_id":"233c279c012ebac792aaa805f966cbc7"},"id":10948897,"updated_at":"2012-12-03T11:07:25Z"},{"created_at":"2012-12-03T11:18:23Z","body":"I''m
        assuming that the use case for this is to filter sensitive data out of log
        files like secure download urls? If so we need some documentation and an example
        to show this and also a CHANGELOG entry.","url":"https://api.github.com/repos/rails/rails/issues/comments/10949168","issue_url":"https://api.github.com/repos/rails/rails/issues/8945060","user":{"type":"User","gists_url":"https://api.github.com/us[...]
