---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/chrisccerami/scene-hub-v2/issues?direction=desc&page=1&sort=comments
    body:
      encoding: UTF-8
      string: '{"page":1,"sort":"comments","direction":"desc"}'
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1460053565'
      Etag:
      - '"bef8779c842a015675ec4386650a6728"'
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 07 Apr 2016 17:27:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/chrisccerami/scene-hub-v2/issues?direction=desc&page=1&sort=comments&state=open
    body:
      encoding: UTF-8
      string: '{"state":"open","page":1,"sort":"comments","direction":"desc"}'
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1460053565'
      Etag:
      - '"bef8779c842a015675ec4386650a6728"'
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 07 Apr 2016 17:27:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/chrisccerami/scene-hub-v2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '1460053565'
      Etag:
      - '"5414f7d691cecd2ffd98499a95b0584b"'
      Last-Modified:
      - Wed, 21 Jan 2015 22:08:43 GMT
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
    body:
      encoding: UTF-8
      string: '{"id":28211067,"name":"scene-hub-v2","full_name":"chrisccerami/scene-hub-v2","owner":{"login":"chrisccerami","id":7838511,"avatar_url":"https://avatars.githubusercontent.com/u/7838511?v=3","gravatar_id":"","url":"https://api.github.com/users/chrisccerami","html_url":"https://github.com/chrisccerami","followers_url":"https://api.github.com/users/chrisccerami/followers","following_url":"https://api.github.com/users/chrisccerami/following{/other_user}","gists_url":"https://api.github.com/users/chrisccerami/gists{/gist_id}","starred_url":"https://api.github.com/users/chrisccerami/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chrisccerami/subscriptions","organizations_url":"https://api.github.com/users/chrisccerami/orgs","repos_url":"https://api.github.com/users/chrisccerami/repos","events_url":"https://api.github.com/users/chrisccerami/events{/privacy}","received_events_url":"https://api.github.com/users/chrisccerami/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/chrisccerami/scene-hub-v2","description":"A
        Ruby on Rails app designed to help people find local music","fork":false,"url":"https://api.github.com/repos/chrisccerami/scene-hub-v2","forks_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/forks","keys_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/keys{/key_id}","collaborators_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/teams","hooks_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/hooks","issue_events_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/issues/events{/number}","events_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/events","assignees_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/assignees{/user}","branches_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/branches{/branch}","tags_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/tags","blobs_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/git/refs{/sha}","trees_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/git/trees{/sha}","statuses_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/statuses/{sha}","languages_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/languages","stargazers_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/stargazers","contributors_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/contributors","subscribers_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/subscribers","subscription_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/subscription","commits_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/commits{/sha}","git_commits_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/git/commits{/sha}","comments_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/comments{/number}","issue_comment_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/issues/comments{/number}","contents_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/contents/{+path}","compare_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/compare/{base}...{head}","merges_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/merges","archive_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/downloads","issues_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/issues{/number}","pulls_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/pulls{/number}","milestones_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/milestones{/number}","notifications_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/labels{/name}","releases_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/releases{/id}","deployments_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/deployments","created_at":"2014-12-19T02:33:42Z","updated_at":"2015-01-21T22:08:43Z","pushed_at":"2015-01-21T22:08:43Z","git_url":"git://github.com/chrisccerami/scene-hub-v2.git","ssh_url":"git@github.com:chrisccerami/scene-hub-v2.git","clone_url":"https://github.com/chrisccerami/scene-hub-v2.git","svn_url":"https://github.com/chrisccerami/scene-hub-v2","homepage":"https://scene-hub.herokuapp.com","size":8838,"stargazers_count":2,"watchers_count":2,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"open_issues_count":0,"forks":1,"open_issues":0,"watchers":2,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true},"network_count":1,"subscribers_count":1}'
  recorded_at: Thu, 07 Apr 2016 17:27:01 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/chrisccerami/scene-hub-v2/commits/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-Reset:
      - '1460053565'
      Etag:
      - '"bd08ea6c452926de2511959dc3a5d3a9"'
      Last-Modified:
      - Wed, 21 Jan 2015 22:08:37 GMT
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"12dd603a7ea29fe2cb4ec7394d48c6efd4cad653","commit":{"author":{"name":"Chris
        C Cerami","email":"chrisccerami@gmail.com","date":"2015-01-21T22:08:37Z"},"committer":{"name":"Chris
        C Cerami","email":"chrisccerami@gmail.com","date":"2015-01-21T22:08:37Z"},"message":"Fixed
        geojson method in band model","tree":{"sha":"2d4f086132dfd592e4d30f5b72bc18d6fed6eae9","url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/git/trees/2d4f086132dfd592e4d30f5b72bc18d6fed6eae9"},"url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/git/commits/12dd603a7ea29fe2cb4ec7394d48c6efd4cad653","comment_count":0},"url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/commits/12dd603a7ea29fe2cb4ec7394d48c6efd4cad653","html_url":"https://github.com/chrisccerami/scene-hub-v2/commit/12dd603a7ea29fe2cb4ec7394d48c6efd4cad653","comments_url":"https://api.github.com/repos/chrisccerami/scene-hub-v2/commits/12dd603a7ea29fe2cb4ec7394d48c6efd4cad653/comments","author":{"login":"chrisccerami","id":7838511,"avatar_url":"https://avatars.githubusercontent.com/u/7838511?v=3","gravatar_id":"","url":"https://api.[...]
