---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/igas/faker/issues?direction=desc&page=1&sort=comments
    body:
      encoding: UTF-8
      string: '{"page":1,"sort":"comments","direction":"desc"}'
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4945'
      X-Ratelimit-Reset:
      - '1430798618'
      Etag:
      - '"b59f773056f271256d230e562715ea64"'
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_APP_ID>"
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/igas/faker/issues/12","labels_url":"https://api.github.com/repos/igas/faker/issues/12/labels{/name}","comments_url":"https://api.github.com/repos/igas/faker/issues/12/comments","events_url":"https://api.github.com/repos/igas/faker/issues/12/events","html_url":"https://github.com/igas/faker/issues/12","id":53552961,"number":12,"title":"Remove
        JSON programming","user":{"login":"whatyouhide","id":3890250,"avatar_url":"https://avatars.githubusercontent.com/u/3890250?v=3","gravatar_id":"","url":"https://api.github.com/users/whatyouhide","html_url":"https://github.com/whatyouhide","followers_url":"https://api.github.com/users/whatyouhide/followers","following_url":"https://api.github.com/users/whatyouhide/following{/other_user}","gists_url":"https://api.github.com/users/whatyouhide/gists{/gist_id}","starred_url":"https://api.github.com/users/whatyouhide/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/whatyouhide/subscriptions","organizations_url":"https://api.github.com/users/whatyouhide/orgs","repos_url":"https://api.github.com/users/whatyouhide/repos","events_url":"https://api.github.com/users/whatyouhide/events{/privacy}","received_events_url":"https://api.github.com/users/whatyouhide/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"milestone":null,"comments":16,"created_at":"2015-01-06T19:31:47Z","updated_at":"2015-01-08T17:33:46Z","closed_at":null,"body":"As
        mentioned in #9, it''s probably better to entirely remove JSON programming
        and only use JSON in order to store **data**.\r\n\r\nMy main concern is this:
        are fake data structures similar in all languages? I see you created a \"team\"
        object, which has the form `[state] [creature]`. In Italian for example, that
        would be `[creature] [state]`.\r\n\r\nWhat I would do is create a module for
        each fake data type (e.g., `Faker.Team`) to act [...]
- request:
    method: get
    uri: https://api.github.com/repos/igas/faker/issues?direction=desc&page=1&sort=comments&state=open
    body:
      encoding: UTF-8
      string: '{"state":"open","page":1,"sort":"comments","direction":"desc"}'
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '[...]
- request:
    method: get
    uri: https://api.github.com/repos/igas/faker
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4943'
      X-Ratelimit-Reset:
      - '1430798618'
      Last-Modified:
      - Fri, 24 Apr 2015 05:27:22 GMT
      Etag:
      - '"aa1a70a2936477de201fdddd40ee2e15"'
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - "<GITHUB_APP_ID>"
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
    body:
      encoding: UTF-8
      string: '{"id":18573162,"name":"faker","full_name":"igas/faker","owner":{"login":"igas","id":175652,"avatar_url":"https://avatars.githubusercontent.com/u/175652?v=3","gravatar_id":"","url":"https://api.github.com/users/igas","html_url":"https://github.com/igas","followers_url":"https://api.github.com/users/igas/followers","following_url":"https://api.github.com/users/igas/following{/other_user}","gists_url":"https://api.github.com/users/igas/gists{/gist_id}","starred_url":"https://api.github.com/users/igas/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/igas/subscriptions","organizations_url":"https://api.github.com/users/igas/orgs","repos_url":"https://api.github.com/users/igas/repos","events_url":"https://api.github.com/users/igas/events{/privacy}","received_events_url":"https://api.github.com/users/igas/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/igas/faker","description":"Faker
        is a pure Elixir library for generating fake data.","fork":false,"url":"https://api.github.com/repos/igas/faker","forks_url":"https://api.github.com/repos/igas/faker/forks","keys_url":"https://api.github.com/repos/igas/faker/keys{/key_id}","collaborators_url":"https://api.github.com/repos/igas/faker/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/igas/faker/teams","hooks_url":"https://api.github.com/repos/igas/faker/hooks","issue_events_url":"https://api.github.com/repos/igas/faker/issues/events{/number}","events_url":"https://api.github.com/repos/igas/faker/events","assignees_url":"https://api.github.com/repos/igas/faker/assignees{/user}","branches_url":"https://api.github.com/repos/igas/faker/branches{/branch}","tags_url":"https://api.github.com/repos/igas/faker/tags","blobs_url":"https://api.github.com/repos/igas/faker/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/igas/faker/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/igas/faker/git/refs{/sha}","trees_url":"https://api.github.com/repos/igas/faker/git/trees{/sha}","statuses_url":"https://api.github.com/repos/igas/faker/statuses/{sha}","languages_url":"https://api.github.com/repos/igas/faker/languages","stargazers_url":"https://api.github.com/repos/igas/faker/stargazers","contributors_url":"https://api.github.com/repos/igas/faker/contributors","subscribers_url":"https://api.github.com/repos/igas/faker/subscribers","subscription_url":"https://api.github.com/repos/igas/faker/subscription","commits_url":"https://api.github.com/repos/igas/faker/commits{/sha}","git_commits_url":"https://api.github.com/repos/igas/faker/git/commits{/sha}","comments_url":"https://api.github.com/repos/igas/faker/comments{/number}","issue_comment_url":"https://api.github.com/repos/igas/faker/issues/comments{/number}","contents_url":"https://api.github.com/repos/igas/faker/contents/{+path}","compare_url":"https://api.github.com/repos/igas/faker/compare/{base}...{head}","merges_url":"https://api.github.com/repos/igas/faker/merges","archive_url":"https://api.github.com/repos/igas/faker/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/igas/faker/downloads","issues_url":"https://api.github.com/repos/igas/faker/issues{/number}","pulls_url":"https://api.github.com/repos/igas/faker/pulls{/number}","milestones_url":"https://api.github.com/repos/igas/faker/milestones{/number}","notifications_url":"https://api.github.com/repos/igas/faker/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/igas/faker/labels{/name}","releases_url":"https://api.github.com/repos/igas/faker/releases{/id}","created_at":"2014-04-08T20:05:26Z","updated_at":"2015-04-24T05:27:22Z","pushed_at":"2015-04-12T06:43:21Z","git_url":"git://github.com/igas/faker.git","ssh_url":"git@github.com:igas/faker.git","clone_url":"https://github.com/igas/faker.git","svn_url":"https://github.com/igas/faker","homepage":"","size":719,"stargazers_count":47,"watchers_count":47,"language":"Elixir","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":10,"mirror_url":null,"open_issues_count":2,"forks":10,"open_issues":2,"watchers":47,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true},"network_count":10,"subscribers_count":2}'
  recorded_at: Tue, 05 May 2015 03:13:56 GMT
- request:
    method: get
    uri: https://api.github.com/user/repos?type=owner
    body:
      encoding: UTF-8
      string: '{"type":"owner"}'
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4942'
      X-Ratelimit-Reset:
      - '1430798618'
      Etag:
      - '"49c23ad63986c67c252440ae36671bbd"'
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_APP_ID>"
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
      Link:
      - <https://api.github.com/user/repos?type=owner&page=2>; rel="next", <https://api.github.com/user/repos?type=owner&page=2>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"id":26725883,"name":"Apollo","full_name":"chrisccerami/Apollo","owner":{"login":"chrisccerami","id":7838511,"avatar_url":"https://avatars.githubusercontent.com/u/7838511?v=3","gravatar_id":"","url":"https://api.github.com/users/chrisccerami","html_url":"https://github.com/chrisccerami","followers_ur[...]
- request:
    method: get
    uri: https://api.github.com/repos/chrisccerami/scene-hub-v2/issues?direction=desc&page=1&sort=comments
    body:
      encoding: UTF-8
      string: '{"page":1,"sort":"comments","direction":"desc"}'
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1431038930'
      Etag:
      - '"795806da33c34e239ae589334a2a8af6"'
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_APP_ID>"
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 07 May 2015 22:42:58 GMT
- request:
    method: get
    uri: https://api.github.com/repos/chrisccerami/scene-hub-v2/issues?direction=desc&page=1&sort=comments&state=open
    body:
      encoding: UTF-8
      string: '{"state":"open","page":1,"sort":"comments","direction":"desc"}'
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1431038930'
      Etag:
      - '"795806da33c34e239ae589334a2a8af6"'
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_APP_ID>"
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 07 May 2015 22:42:58 GMT
- request:
    method: get
    uri: https://api.github.com/repos/chrisccerami/scene-hub-v2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1431038930'
  [...]
