---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/igas/faker/issues?direction=desc&page=1&sort=comments
    body:
      encoding: UTF-8
      string: '{"page":1,"sort":"comments","direction":"desc"}'
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1417256876'
      Etag:
      - '"0c5e38a547f58e044dd2effc5ff42e73"'
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_APP_ID>"
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sat, 29 Nov 2014 10:00:17 GMT
- request:
    method: get
    uri: https://api.github.com/repos/igas/faker/issues?direction=desc&page=1&sort=comments&state=open
    body:
      encoding: UTF-8
      string: '{"state":"open","page":1,"sort":"comments","direction":"desc"}'
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1417256876'
      Etag:
      - '"0c5e38a547f58e044dd2effc5ff42e73"'
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_APP_ID>"
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sat, 29 Nov 2014 10:00:18 GMT
- request:
    method: get
    uri: https://api.github.com/repos/igas/faker
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1417256876'
      Last-Modified:
      - Fri, 28 Nov 2014 00:17:11 GMT
      Etag:
      - '"94e10f0037e16390c1418b97c7787581"'
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - "<GITHUB_APP_ID>"
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
    body:
      encoding: UTF-8
      string: '{"id":18573162,"name":"faker","full_name":"igas/faker","owner":{"login":"igas","id":175652,"avatar_url":"https://avatars.githubusercontent.com/u/175652?v=3","gravatar_id":"","url":"https://api.github.com/users/igas","html_url":"https://github.com/igas","followers_url":"https://api.github.com/users/igas/followers","following_url":"https://api.github.com/users/igas/following{/other_user}","gists_url":"https://api.github.com/users/igas/gists{/gist_id}","starred_url":"https://api.github.com/users/igas/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/igas/subscriptions","organizations_url":"https://api.github.com/users/igas/orgs","repos_url":"https://api.github.com/users/igas/repos","events_url":"https://api.github.com/users/igas/events{/privacy}","received_events_url":"https://api.github.com/users/igas/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/igas/faker","description":"Faker
        is pure Elixir library for generating fake data.","fork":false,"url":"https://api.github.com/repos/igas/faker","forks_url":"https://api.github.com/repos/igas/faker/forks","keys_url":"https://api.github.com/repos/igas/faker/keys{/key_id}","collaborators_url":"https://api.github.com/repos/igas/faker/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/igas/faker/teams","hooks_url":"https://api.github.com/repos/igas/faker/hooks","issue_events_url":"https://api.github.com/repos/igas/faker/issues/events{/number}","events_url":"https://api.github.com/repos/igas/faker/events","assignees_url":"https://api.github.com/repos/igas/faker/assignees{/user}","branches_url":"https://api.github.com/repos/igas/faker/branches{/branch}","tags_url":"https://api.github.com/repos/igas/faker/tags","blobs_url":"https://api.github.com/repos/igas/faker/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/igas/faker/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/igas/faker/git/refs{/sha}","trees_url":"https://api.github.com/repos/igas/faker/git/trees{/sha}","statuses_url":"https://api.github.com/repos/igas/faker/statuses/{sha}","languages_url":"https://api.github.com/repos/igas/faker/languages","stargazers_url":"https://api.github.com/repos/igas/faker/stargazers","contributors_url":"https://api.github.com/repos/igas/faker/contributors","subscribers_url":"https://api.github.com/repos/igas/faker/subscribers","subscription_url":"https://api.github.com/repos/igas/faker/subscription","commits_url":"https://api.github.com/repos/igas/faker/commits{/sha}","git_commits_url":"https://api.github.com/repos/igas/faker/git/commits{/sha}","comments_url":"https://api.github.com/repos/igas/faker/comments{/number}","issue_comment_url":"https://api.github.com/repos/igas/faker/issues/comments/{number}","contents_url":"https://api.github.com/repos/igas/faker/contents/{+path}","compare_url":"https://api.github.com/repos/igas/faker/compare/{base}...{head}","merges_url":"https://api.github.com/repos/igas/faker/merges","archive_url":"https://api.github.com/repos/igas/faker/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/igas/faker/downloads","issues_url":"https://api.github.com/repos/igas/faker/issues{/number}","pulls_url":"https://api.github.com/repos/igas/faker/pulls{/number}","milestones_url":"https://api.github.com/repos/igas/faker/milestones{/number}","notifications_url":"https://api.github.com/repos/igas/faker/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/igas/faker/labels{/name}","releases_url":"https://api.github.com/repos/igas/faker/releases{/id}","created_at":"2014-04-08T20:05:26Z","updated_at":"2014-11-28T00:17:11Z","pushed_at":"2014-11-28T00:17:11Z","git_url":"git://github.com/igas/faker.git","ssh_url":"git@github.com:igas/faker.git","clone_url":"https://github.com/igas/faker.git","svn_url":"https://github.com/igas/faker","homepage":"","size":524,"stargazers_count":15,"watchers_count":15,"language":"Elixir","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":7,"mirror_url":null,"open_issues_count":0,"forks":7,"open_issues":0,"watchers":15,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"network_count":7,"subscribers_count":2}'
  recorded_at: Sat, 29 Nov 2014 10:00:19 GMT
recorded_with: VCR 2.5.0
