---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/rails/rails/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9e60597066fa8eff0c1230a7c7c94366bdf497b43d1442f01fa98a2f18cf4547"'
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - "<GITHUB_APP_ID>"
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
      Link:
      - <https://api.github.com/repositories/8514/labels?page=2>; rel="next", <https://api.github.com/repositories/8514/labels?page=2>;
        rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4956'
      X-Ratelimit-Reset:
      - '1664894372'
      X-Ratelimit-Used:
      - '44'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"id":300028327,"node_id":"MDU6TGFiZWwzMDAwMjgzMjc=","url":"https://api.github.com/repos/rails/rails/labels/actioncable","name":"actioncable","color":"bfdadc","default":false,"description":null},{"id":1174770998,"node_id":"MDU6TGFiZWwxMTc0NzcwOTk4","url":"https://api.github.com/repos/rails/rails/labels/actionmailbox","name":"actionmailbox","color":"f4a6cb","default":false,"description":""},{"id":107188,"node_id":"MDU6TGFiZWwxMDcxODg=","url":"https://api.github.com/repos/rails/rails/labels/actionmailer","name":"ActionMailer","color":"8B00FC","default":false,"description":null},{"id":107189,"node_id":"MDU6TGFiZWwxMDcxODk=","url":"https://api.github.com/repos/rails/rails/labels/actio[...]
