---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/emails
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1499483764'
      Etag:
      - '"32348b797484013004ca697c96dc3376"'
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - user, user:email
      X-Oauth-Client-Id:
      - "<GITHUB_APP_ID>"
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
    body:
      encoding: UTF-8
      string: '[{"email":"dmragone@gmail.com","primary":true,"verified":true,"visibility":"public"},{"email":"david.ragone@hired.com","primary":false,"verified":true,"visibility":null}]'
  recorded_at: Sat, 08 Jul 2017 02:23:16 GMT
recorded_with: VCR 2.9.3
