---
http_interactions:
- request:
    method: get
    uri: https://<GITHUB_APP_ID>:<GITHUB_APP_SECRET>@api.github.com/applications/<GITHUB_APP_ID>/tokens/asdf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OGQ5NGRhNTAyZmVmOTBmMDRhMWU6MzMyZmQ1M2NiZGE3Y2VhNGZkMDBlNmRkNmQwOWQ2OTNjNjQzYTg3NQ==
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1499555846'
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Sat, 08 Jul 2017 22:18:36 GMT
recorded_with: VCR 2.9.3
