---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/schneems/wicked/issues?direction=desc&page=1&sort=comments&state=open
    body:
      encoding: UTF-8
      string: '{"sort":"comments","direction":"desc","state":"open","page":1}'
    headers:
      Authorization:
      - token foobar
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1571198128'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Bad credentials","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Wed, 16 Oct 2019 02:55:41 GMT
recorded_with: VCR 5.0.0
