---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/bemurphy/issue_triage_sandbox/issues/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '18'
      X-Ratelimit-Reset:
      - '1571172932'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/bemurphy/issue_triage_sandbox/issues/1","repository_url":"https://api.github.com/repos/bemurphy/issue_triage_sandbox","labels_url":"https://api.github.com/repos/bemurphy/issue_triage_sandbox/issues/1/labels{/name}","comments_url":"https://api.github.com/repos/bemurphy/issue_triage_sandbox/issues/1/comments","events_url":"https://api.github.com/repos/bemurphy/issue_triage_sandbox/issues/1/events","html_url":"https://github.com/bemurphy/issue_triage_sandbox/issues/1","id":8266221,"number":1,"title":"first
        test issue","user":{"login":"bemurphy","id":124661,"avatar_url":"https://avatars1.githubusercontent.com/u/124661?v=3","gravatar_id":"","url":"https://api.github.com/users/bemurphy","html_url":"https://github.com/bemurphy","followers_url":"https://api.github.com/users/bemurphy/followers","following_url":"https://api.github.com/users/bemurphy/following{/other_user}","gists_url":"https://api.github.com/users/bemurphy/gists{/gist_id}","starred_url":"https://api.github.com/users/bemurphy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bemurphy/subscriptions","organizations_url":"https://api.github.com/users/bemurphy/orgs","repos_url":"https://api.github.com/users/bemurphy/repos","events_url":"https://api.github.com/users/bemurphy/events{/privacy}","received_events_url":"https://api.github.com/users/bemurphy/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2012-11-10T22:20:24Z","updated_at":"2012-11-10T22:20:24Z","closed_at":null,"body":"test\n","closed_by":null}'
  recorded_at: Tue, 15 Oct 2019 20:01:18 GMT
- request:
    method: get
    uri: https://api.github.com/repos/bemurphy/issue_triage_sandbox/issues/1/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '17'
      X-Ratelimit-Reset:
      - '1571172932'
    body:
      encoding: ASCII-8BIT
      string: '{}'
  recorded_at: Tue, 15 Oct 2019 20:01:18 GMT
recorded_with: VCR 5.0.0
