---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/bemurphy/issue_triage_sandbox/issues?direction=desc&page=1&sort=comments&state=open
    body:
      encoding: UTF-8
      string: '{"sort":"comments","direction":"desc","state":"open","page":1}'
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1499483764'
      Etag:
      - '"4a1173c95660dbbb889cb25bcca60f6b"'
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - "<GITHUB_APP_ID>"
      X-Github-Media-Type:
      - github.v3; param=3.raw; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/bemurphy/issue_triage_sandbox/issues/1","repository_url":"https://api.github.com/repos/bemurphy/issue_triage_sandbox","labels_url":"https://api.github.com/repos/bemurphy/issue_triage_sandbox/issues/1/labels{/name}","comments_url":"https://api.github.com/repos/bemurphy/issue_triage_sandbox/issues/1/comments","events_url":"https://api.github.com/repos/bemurphy/issue_triage_sandbox/issues/1/events","html_url":"https://github.com/bemurphy/issue_triage_sandbox/issues/1","id":8266221,"number":1,"title":"first
        test issue","user":{"login":"bemurphy","id":124661,"avatar_url":"https://avatars1.githubusercontent.com/u/124661?v=3","gravatar_id":"","url":"https://api.github.com/users/bemurphy","html_url":"https://github.com/bemurphy","followers_url":"https://api.github.com/users/bemurphy/followers","following_url":"https://api.github.com/users/bemurphy/following{/other_user}","gists_url":"https://api.github.com/users/bemurphy/gists{/gist_id}","starred_url":"https://api.github.com/users/bemurphy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bemurphy/subscriptions","organizations_url":"https://api.github.com/users/bemurphy/orgs","repos_url":"https://api.github.com/users/bemurphy/repos","events_url":"https://api.github.com/users/bemurphy/events{/privacy}","received_events_url":"https://api.github.com/users/bemurphy/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2012-11-10T22:20:24Z","updated_at":"2012-11-10T22:20:24Z","closed_at":null,"body":"test\n"}]'
  recorded_at: Sat, 08 Jul 2017 03:06:03 GMT
recorded_with: VCR 2.9.3
