---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?per_page=100&type=owner
    body:
      encoding: UTF-8
      string: '{"type":"owner","per_page":"100"}'
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1386177126'
      Etag:
      - '"8933d79216611f43934848923bf0e0e9"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo, public_repo, repo:status, repo:deployment, delete_repo, site_admin
      X-Github-Media-Type:
      - github.beta; param=3.raw; format=json
    body:
      encoding: UTF-8
      string: '[{"id":7099457,"name":"24pullrequests","full_name":"jamescook/24pullrequests","owner":{"login":"jamescook","id":4067,"avatar_url":"https://2.gravatar.com/avatar/acf32219944558e5aeb55abc37e3d63e?d=https%3A%2F%2Fidenticons.github.com%2Fe951ccd95572a67138f4572c1c7d7ee8.png&r=x","gravatar_id":"acf32219944558e5aeb55abc37e3d63e","url":"https://api.github.com/users/jamescook","html_url":"https://github.com/jamescook","followers_url":"https://api.github.com/users/jamescook/followers","following_url":"https://api.github.com/users/jamescook/following{/other_user}","gists_url":"https://api.github.com/users/jamescook/gists{/gist_id}","starred_url":"https://api.github.com/users/jamescook/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jamescook/subscriptions","organizations_url":"https://api.github.com/users/jamescook/orgs","repos_url":"https://api.github.com/users/jamescook/repos","events_url":"https://api.github.com/users/jamescook/events{/privacy}","received_events_url":"https://api.github.com/users/jamescook/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/jamescook/24pullrequests","description":"Giving
        back little gifts of code for Christmas","fork":true,"url":"https://api.github.com/repos/jamescook/24pullrequests","forks_url":"https://api.github.com/repos/jamescook/24pullrequests/forks","keys_url":"https://api.github.com/repos/jamescook/24pullrequests/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jamescook/24pullrequests/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jamescook/24pullrequests/teams","hooks_url":"https://api.github.com/repos/jamescook/24pullrequests/hooks","issue_events_url":"https://api.github.com/repos/jamescook/24pullrequests/issues/events{/number}","events_url":"https://api.github.com/repos/jamescook/24pullrequests/events","assignees_url":"https://api.github.com/repos/jamescook/24pullrequests/assignees{/user}","branches_url":"https://api.github.com/repos/jamescook/24pullrequests/branches{/branch}","tags_url":"https://api.github.com/repos/jamescook/24pullrequests/tags","blobs_url":"https://api.github.com/repos/jamescook/24pullrequests/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jamescook/24pullrequests/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jamescook/24pullrequests/git/refs{/sha}","trees_url":"https://api.github.com/repos/jamescook/24pullrequests/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jamescook/24pullrequests/statuses/{sha}","languages_url":"https://api.github.com/repos/jamescook/24pullrequests/languages","stargazers_url":"https://api.github.com/repos/jamescook/24pullrequests/stargazers","contributors_url":"https://api.github.com/repos/jamescook/24pullrequests/contributors","subscribers_url":"https://api.github.com/repos/jamescook/24pullrequests/subscribers","subscription_url":"https://api.github.com/repos/jamescook/24pullrequests/subscription","commits_url":"https://api.github.com/repos/jamescook/24pullrequests/commits{/sha}","git_commits_url":"https://api.github.com/repos/jamescook/24pullrequests/git/commits{/sha}","comments_url":"https://api.github.com/repos/jamescook/24pullrequests/comments{/number}","issue_comment_url":"https://api.github.com/repos/jamescook/24pullrequests/issues/comments/{number}","contents_url":"https://api.github.com/repos/jamescook/24pullrequests/contents/{+path}","compare_url":"https://api.github.com/repos/jamescook/24pullrequests/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jamescook/24pullrequests/merges","archive_url":"https://api.github.com/repos/jamescook/24pullrequests/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jamescook/24pullrequests/downloads","issues_url":"https://api.github.com/repos/jamescook/24pullrequests/issues{/number}","pulls_url":"https://api.github.com/repos/jamescook/24pullrequests/pulls{/number}","milestones_url":"https://api.github.com/repos/jamescook/24pullrequests/milestones{/number}","notifications_url":"https://api.github.com/repos/jamescook/24pullrequests/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jamescook/24pullrequests/labels{/name}","releases_url":"https://api.github.com/repos/jamescook/24pullrequests/releases{/id}","created_at":"2012-12-10T19:41:26Z","updated_at":"2013-01-13T14:31:25Z","pushed_at":"2012-12-19T14:35:35Z","git_url":"git://github.com/jamescook/24pullrequests.git","ssh_url":"git@github.com:jamescook/24pullrequests.git","clone_url":"https://github.com/jamescook/24pullrequests.git","svn_url":"https://github.com/jamescook/24pullrequests","homepage":"http://24pullrequests.com/","size":132,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","master_branch":"master","permissions":{"admin":true,"push":true,"pull":true}}]'
  recorded_at: Wed, 04 Dec 2013 16:20:53 GMT
- request:
    method: get
    uri: https://api.github.com/user/starred
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1386177126'
      Etag:
      - '"b7d23ed67f65c22b05b83a2d5b6ebfbe"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo, public_repo, repo:status, repo:deployment, delete_repo, site_admin
      X-Github-Media-Type:
      - github.beta; param=3.raw; format=json
      Link:
      - <https://api.github.com/user/starred?page=2>; rel="next", <https://api.github.com/user/starred?page=3>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"id":11768811,"name":"bandcampbx","full_name":"megalithic/bandcampbx","owner":{"login":"megalithic","id":3678,"avatar_url":"https://2.gravatar.com/avatar/3a41c1a4e3cdc7be0abd2cb6429f6344?d=https%3A%2F%2Fidenticons.github.com%2F2151b4c76b4dcb048d06a5c32942b6f6.png&r=x","gravatar_id":"3a41c1a4e3cdc7be0abd2cb6429f6344","[...]
- request:
    method: get
    uri: https://api.github.com/user/subscriptions
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1386177126'
      Etag:
    [...]
