---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/rails/rails/issues/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 403 Forbidden
      X-Github-Media-Type:
      - github.beta; param=3.raw; format=json
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Limit:
      - '60'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-12-02T04:06:07Z","number":1,"labels_url":"https://api.github.com/repos/rails/rails/issues/1/labels{/name}","body":"Thiscommitfixesreportedissue#7630inwhichcountercacheswerenotbeingupdatedproperlywhenreplacinghas_many_throughrelationships.\n\negif`posts`havemany`tags`through`taggings`\n\nandIdid:\n\n```ruby\npost=Post.create!\ntag=post.tags.create!\ntag.posts=[]\n```\n\nthenitwas:`post.reload.taggings_count==1`\n\nthispullmakesit:`post.reload.taggings_count==0`","title":"Fixeshasmanythroughcounter-cachebug","milestone":null,"labels":[],"closed_at":null,"html_url":"https://github.com/rails/rails/issues/1","closed_by":null,"updated_at":"2012-12-02T11:05:57Z","state":"open","url":"https://api.github.com/repos/rails/rails/issues/1","events_url":"https://api.github.com/repos/rails/rails/issues/1/events","comments_url":"https://api.github.com/repos/rails/rails/issues/1/comments","pull_request":{"patch_url":"https://github.com/rails/rails/pull/1.patch","diff_url":"https://github.com/rails/rails/pull/1.diff","html_url":"https://github.com/rails/rails/pull/1"},"assignee":null,"user":{"type":"User","avatar_url":"https://secure.gravatar.com/avatar/b366b5b5e4ac724152e9c9150ad4883d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","starred_url":"https://api.github.com/users/matthewrobertson/starred{/owner}{/repo}","organizations_url":"https://api.github.com/users/matthewrobertson/orgs","gravatar_id":"b366b5b5e4ac724152e9c9150ad4883d","repos_url":"https://api.github.com/users/matthewrobertson/repos","followers_url":"https://api.github.com/users/matthewrobertson/followers","following_url":"https://api.github.com/users/matthewrobertson/following","url":"https://api.github.com/users/matthewrobertson","events_url":"https://api.github.com/users/matthewrobertson/events{/privacy}","subscriptions_url":"https://api.github.com/users/matthewrobertson/subscriptions","login":"matthewrobertson","received_events_url":"https://api.github.com/users/matthewrobertson/received_events","id":644493,"gists_url":"https://api.github.com/users/matthewrobertson/gists{/gist_id}"},"id":8910448,"comments":1}'
  recorded_at: Sun, 02 Dec 2012 20:18:43 GMT
[...]
