---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/refinery/refinerycms
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Github-Media-Type:
      - github.beta; param=raw.3; format=json
      Etag:
      - ! '"58d28f8657660f297e951dbd79fe1306"'
      X-Ratelimit-Remaining:
      - '55'
      Last-Modified:
      - Tue, 20 Nov 2012 20:58:24 GMT
      X-Ratelimit-Limit:
      - '60'
    body:
      encoding: US-ASCII
      string: ! '{"watchers":2486,"watchers_count":2486,"git_refs_url":"https://api.github.com/repos/refinery/refinerycms/git/refs{/sha}","url":"https://api.github.com/repos/refinery/refinerycms","mirror_url":null,"open_issues_count":14,"contents_url":"https://api.github.com/repos/refinery/refinerycms/contents/{+path}","issue_events_url":"https://api.github.com/repos/refinery/refinerycms/issues/events{/number}","keys_url":"https://api.github.com/repos/refinery/refinerycms/keys{/key_id}","owner":{"starred_url":"https://api.github.com/users/refinery/starred{/owner}{/repo}","url":"https://api.github.com/users/refinery","received_events_url":"https://api.github.com/users/refinery/received_events","login":"refinery","organizations_url":"https://api.github.com/users/refinery/orgs","followers_url":"https://api.github.com/users/refinery/followers","avatar_url":"https://secure.gravatar.com/avatar/fa8eb6800ed040d905e1493a154f3eef?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png","events_url":"https://api.github.com/users/refinery/events{/privacy}","gists_url":"https://api.github.com/users/refinery/gists{/gist_id}","following_url":"https://api.github.com/users/refinery/following","gravatar_id":"fa8eb6800ed040d905e1493a154f3eef","id":339098,"repos_url":"https://api.github.com/users/refinery/repos","subscriptions_url":"https://api.github.com/users/refinery/subscriptions"},"full_name":"refinery/refinerycms","pushed_at":"2012-11-19T02:29:39Z","notifications_url":"https://api.github.com/repos/refinery/refinerycms/notifications{?since,all,participating}","issue_comment_url":"https://api.github.com/repos/refinery/refinerycms/issues/comments/{number}","trees_url":"https://api.github.com/repos/refinery/refinerycms/git/trees{/sha}","forks":797,"created_at":"2009-05-28T20:13:21Z","homepage":"http://refinerycms.com/guides/","has_issues":true,"has_wiki":true,"forks_count":797,"merges_url":"https://api.github.com/repos/refinery/refinerycms/merges","compare_url":"https://api.github.com/repos/refinery/refinerycms/compare/{base}...{head}","stargazers_url":"https://api.github.com/repos/refinery/refinerycms/stargazers","assignees_url":"https://api.github.com/repos/refinery/refinerycms/assignees{/user}","labels_url":"https://api.github.com/repos/refinery/refinerycms/labels{/name}","contributors_url":"https://api.github.com/repos/refinery/refinerycms/contributors","statuses_url":"https://api.github.com/repos/refinery/refinerycms/statuses/{sha}","forks_url":"https://api.github.com/repos/refinery/refinerycms/forks","html_url":"https://github.com/refinery/refinerycms","network_count":797,"issues_url":"https://api.github.com/repos/refinery/refinerycms/issues{/number}","downloads_url":"https://api.github.com/repos/refinery/refinerycms/downloads","archive_url":"https://api.github.com/repos/refinery/refinerycms/{archive_format}{/ref}","branches_url":"https://api.github.com/repos/refinery/refinerycms/branches{/branch}","organization":{"starred_url":"https://api.github.com/users/refinery/starred{/owner}{/repo}","url":"https://api.github.com/users/refinery","received_events_url":"https://api.github.com/users/refinery/received_events","login":"refinery","organizations_url":"https://api.github.com/users/refinery/orgs","followers_url":"https://api.github.com/users/refinery/followers","avatar_url":"https://secure.gravatar.com/avatar/fa8eb6800ed040d905e1493a154f3eef?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png","events_url":"https://api.github.com/users/refinery/events{/privacy}","gists_url":"https://api.github.com/users/refinery/gists{/gist_id}","following_url":"https://api.github.com/users/refinery/following","gravatar_id":"fa8eb6800ed040d905e1493a154f3eef","id":339098,"repos_url":"https://api.github.com/users/refinery/repos","subscriptions_url":"https://api.github.com/users/refinery/subscriptions"},"master_branch":"master","ssh_url":"git@github.com:refinery/refinerycms.git","milestones_url":"https://api.github.com/repos/refinery/refinerycms/milestones{/number}","comments_url":"https://api.github.com/repos/refinery/refinerycms/comments{/number}","subscribers_url":"https://api.github.com/repos/refinery/refinerycms/subscribers","collaborators_url":"https://api.github.com/repos/refinery/refinerycms/collaborators{/collaborator}","description":"An
        extendable Ruby on Rails ''CMS framework'' that supports Rails 3.2","size":13008,"pulls_url":"https://api.github.com/repos/refinery/refinerycms/pulls{/number}","blobs_url":"https://api.github.com/repos/refinery/refinerycms/git/blobs{/sha}","fork":false,"open_issues":14,"updated_at":"2012-11-20T20:58:24Z","commits_url":"https://api.github.com/repos/refinery/refinerycms/commits{/sha}","subscription_url":"https://api.github.com/repos/refinery/refinerycms/subscription","tags_url":"https://api.github.com/repos/refinery/refinerycms/tags{/tag}","events_url":"https://api.github.com/repos/refinery/refinerycms/events","teams_url":"https://api.github.com/repos/refinery/refinerycms/teams","name":"refinerycms","git_url":"git://github.com/refinery/refinerycms.git","clone_url":"https://github.com/refinery/refinerycms.git","git_tags_url":"https://api.github.com/repos/refinery/refinerycms/git/tags{/sha}","private":false,"id":212862,"svn_url":"https://github.com/refinery/refinerycms","language":"Ruby","has_downloads":false,"git_commits_url":"https://api.github.com/repos/refinery/refinerycms/git/commits{/sha}","languages_url":"https://api.github.com/repos/refinery/refinerycms/languages","hooks_url":"https://api.github.com/repos/refinery/refinerycms/hooks"}'
  recorded_at: Tue, 20 Nov 2012 21:14:35 GMT
- request:
    method: get
    uri: https://api.github.com/repos/refinery/refinerycms?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      Last-Modified:
      - Thu, 07 Feb 2013 23:18:21 GMT
      X-Ratelimit-Remaining:
      - '54'
      Etag:
      - ! '"42f1b372dff5d240512edafe4[...]
