input[type="submit"].btn-danger {
  background-color: $codetriage-red;

  &:hover {
    background-color: shade($codetriage-red, 20%);
  }
}

.button,
#{$all-buttons} {
  appearance: none;
  background-color: $action-color;
  border-radius: $base-border-radius;
  box-shadow: 0 1px 2px darken($base-background-color, 5%);
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  padding: ($small-spacing * 1.5) $base-spacing;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($action-color, 20%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }

  &.inactive {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

