html {
  background-color: $base-background-color;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  background-image: linear-gradient(darken($base-background-color, 5%), $base-background-color 800px);
  color: $light-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  padding: 0 1em;
  border-left: 0.25em solid $codetriage-yellow;
  margin: 1em 0;
  color: $lightest-font-color;
}

textarea.single-line {
  height: 3.25rem;
}

/*
 * Taken from bourbon version 5.1.0 to allow for providing text to screen readers but hiding for visual users.
 * This should be removed when bourbon is upgraded.
 * https://github.com/thoughtbot/bourbon/blob/v5.1.0/core/bourbon/library/_hide-visually.scss
*/
.hide-visually {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
