- if repos.blank? || repos.size == 0
  p None!
- else
  table.table.table-striped
    - repos.each do |repo|
      - if repo["has_issues"] && !repo["private"]
        tr
          = form_for @repo do |f|
            = f.hidden_field :user_name, value: repo["full_name"].split("/").first
            = f.hidden_field :name, value: repo["full_name"].split("/").last
            td
              - if repo["fork"]
                a title="Fork"
                  span.icon-random
            td= repo["full_name"]
            td #{repo["open_issues_count"]} issues
            td
              - if Repo.exists_with_name?(repo["full_name"])
                p Added!
              - else
                = f.submit "Add", class: 'btn btn-mini btn-primary'
