<ul class="unstyled repos-list">
  <% repos.first(50).each do |repo| %>
    <li>
      <span class="badge badge-info"><%= repo.issues_count %></span>
      <%= link_to repo.to_param, repo %> <small>(<%= repo.language %>)</small>
    </li>
  <% end %>
</ul>

<hr />
