<p>
  Sign up to receive a different open issue in your inbox every day from any github repo.
</p>

<ol>
  <li>Sign up via GitHub</li>
  <li>Find the repo you want to receive issues from such as <%= link_to "rails/rails", Repo.find_by(name: "rails", user_name: "rails") %></li>
  <li>Click the "Subscribe" button</li>
  <li>Make the world a better place by triaging issues</li>
</ol>

<p>
  The email will come with triaging instructions on how to help with the project. Unsubscribe any time.
</p>

<%= link_to "Sign in with GitHub", user_omniauth_authorize_path(:github), :class => 'btn btn-primary' %>
