<hr />

<% if user_signed_in? %>
  <% if @repos_subs.present? %>
    <h2>Repos you are currently helping</h2>
    <p>
    <%= render 'repo_subscriptions/list' %>
    </p>
  <% else %>
    <h2>Repos needing the most help</h2>
    <%= render 'shared/repos', repos: @repos %>
  <% end -%>
<% else %>
  <h2>Repos needing the most help</h2>
  <%= render 'shared/repos', repos: @repos %>
<% end %>


