
.application-footer {
  margin-bottom: 4rem;
  text-align: center;
}

.footer-action {
  margin-bottom: 2rem;
}

.housekeeping {
  margin-bottom: 1rem;
  a {
    margin: 0 0.5em;
  }
}

.credits-link {
  color: $base-font-color;
  display: block;
  margin-bottom: 1rem;
  padding: 1rem;

  &:hover {
    color: $codetriage-red;

    transform: translateY(-4px);
    transition: all 0.25s ease-out;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
        transform: scale(1.1);

    .credits-logo {
      fill: $codetriage-red;
    }
  }
}

.credits-logo {
  @include size(11rem);
  display: block;
  fill: $base-font-color;
  margin: 0 auto;
}

.credits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.credit-title {
  color: $lightest-font-color;
  font-size: 1.75rem;
  text-align: center;
  vertical-align: top;
}

.heroku-logo {
  padding: 1rem;
}
