.application-navigation {
  @include clearfix;
}

.application-logo {
  padding-top: 3rem;
  text-align: center;
}

.application-navigation-list {
  float: right;
}

.application-navigation-list-item {
  float: left;

  a {
    background-color: darken($base-background-color, 10%);
    color: rgba($base-font-color, 0.5);
    display: block;
    padding: $small-spacing $base-spacing;
  }
}
