.application-navigation {
  @include clearfix;
}

.application-logo {
  float: left;
}

.application-navigation-list {
  float: right;
}

.application-navigation-list-item {
  display: inline-block;
  margin-left: $base-spacing;
}
