<h2>Subscribers to <%= link_to @repo.path, @repo.github_url %></h2>
<hr />

<ul class='unstyled avatar_list'>
  <%= render 'avatars', subscribers: @subscribers, show_names: true %>
</ul>
<%= will_paginate @subscribers %>
