.hero {
  @include outer-container;
  @include padding(4rem null);
  text-align: center;

  .button {
    margin-top: 3rem;
  }
}

.hero-title-primary {
  color: $base-font-color;
  font-size: 3rem;
  margin-bottom: $small-spacing;
}

.hero-title-secondary {
  font-size: 1.25rem;
  font-weight: 100;
  margin: 0 auto;
  max-width: rem(800);
}
