.repo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1.25rem;
  margin: 3rem 0 0;

  @include media(100rem) {
    margin: 3rem auto 0;
    max-width: 100rem;
  }
}

.repos-list-title {
  color: $base-font-color;
  font-size: 1.75rem;
  text-align: center;
  vertical-align: top;
}

.repo-item {
  background-color: darken($base-background-color, 5%);
  border-radius: $base-border-radius;
  box-shadow: 0 1px 0 lighten($base-background-color, 5%);
  margin: 0 ($base-spacing / 2) ($base-spacing * 1.5);
  overflow: hidden;
  transition: all 0.25s ease-out;
  width: 100%;

  @include media(min-width 700px max-width 899px) {
    width: calc(50% - 1.5rem);
  }

  @include media(min-width 900px max-width 1249px) {
    width: calc(33% - 1.5rem);
  }

  @include media(min-width 1250px max-width 1499px) {
    width: calc(25% - 1.5rem);
  }

  @include media(1500px) {
    width: calc(20% - 1.5rem);
  }

  &:hover {
    background-color: darken($base-background-color, 8%);
    transform: translateY(-3px);
    transition: all 0.25s ease-out;

    &.high .repo-item-header {
      background-color: shade($codetriage-red, 5%);
    }

    &.medium .repo-item-header {
      background-color: shade($codetriage-yellow, 5%);
    }

    &.low .repo-item-header {
      background-color: shade($codetriage-green, 5%);
    }
  }

  a {
    display: block;
    padding: $base-spacing $medium-spacing 3rem;
    position: relative;
  }
}

.repo-item-header {
  @include clearfix;
  background-color: $codetriage-blue;
  border-radius: $base-border-radius $base-border-radius 0 0;
  margin: (-$base-spacing) (-$medium-spacing) $small-spacing;
  padding: $small-spacing $medium-spacing;

  .high & {
    background-color: $codetriage-red;
  }

  .medium & {
    background-color: $codetriage-yellow;
  }

  .low & {
    background-color: $codetriage-green;
  }
}

.repo-item-title {
  color: $base-font-color;
  float: left;
  font-size: 1.125rem;
}

.repo-item-issues {
  color: $base-font-color;
  float: right;
  font-size: $small-font-size;
  letter-spacing: 1px;
  text-transform: uppercase;

  .issue-icon, .star-icon {
    display: inline-block;
    fill: $base-font-color;
    margin-right: 0.2rem;
    position: relative;
    top: 3px;
    vertical-align: baseline;
  }
  .issue-icon {
    margin-left: 0.7rem;
  }
}

.repo-item-description {
  color: $light-font-color;
}

.repo-item-full-name {
  @include position(absolute, null null $base-spacing null);
  color: $lightest-font-color;
}
