.slats-list {
  border: $content-border;
  font-size: 1.125rem;
}

.slats-item {
  @include clearfix;
  border-bottom: $content-border;
  padding: $small-spacing;
  display: block;

  &:last-of-type {
    border-bottom: 0;
  }

  .issue-icon, .star-icon {
    fill: $lightest-font-color;
    margin-right: $small-spacing;
    transform: translateY(2px);
  }
}

.slats-hgroup {
  @include media(600px) {
    float: left;
  }

  .slats-title,
  h3 {
    display: inline-block;
    margin-right: $small-spacing;
  }

  h4 {
    display: inline-block;
    font-weight: normal;
    color: $lightest-font-color;
  }
}

.slats-action {
  font-size: $small-font-size;
  letter-spacing: 1px;
  padding: $small-spacing;
  text-transform: uppercase;

  @include media(max-width 599px) {
    border-top: $content-border;
    padding-bottom: 0;
    margin: $small-spacing (-$small-spacing) 0;
  }

  @include media(600px) {
    border-left: $content-border;
    float: right;
    margin: (-$small-spacing) (-$small-spacing) (-$small-spacing) 0;
    min-width: 12rem;
  }

  p {
    font-weight: bold;
    margin: 4px 0 2px;
  }

  input[type="submit"] {
    background: none;
    color: $action-color;
    margin: 6px 0 7px;
    padding: 0;
  }
}
