.user-email {
  margin-top: 7px;
  font-weight: normal;
}

.user-actions {
  margin-top: 4px;

  @include media(38rem) {
    float: right;
  }
}

.edit-account {
  color: $base-font-color;
  font-size: $small-font-size;
  letter-spacing: 1px;
  margin-left: $small-spacing;
  text-transform: uppercase;
}

.delete-account {
  color: $lightest-font-color;
}

.settings-list {
  border-radius: $base-border-radius;
  border: $content-border;

  @include media(510px) {
    display: flex;
  }
}

.settings-item {
  position: relative;

  @include media(max-width 510px) {
    &:not(:last-of-type) {
      border-bottom: $content-border;
    }
  }

  @include media(510px) {
    flex-basis: flex-grid(4);
    flex-grow: 1;

    &:not(:last-of-type) {
      border-right: $content-border;
    }
  }
}

.setting-title {
  font-weight: normal;
  padding: $small-spacing $small-spacing 4rem;
}

.setting {
  @include position(absolute, null 0 0);
  border-top: $content-border;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 0;
  padding: $small-spacing;
  text-align: center;
  text-transform: uppercase;
}
