@import "github/markdown-body";
@import "github/readme";


.footer {
  margin: 0 auto;

  .logo-wrapper {
    padding: 3em 3em 1em 3em;
    margin: 0 auto;
    width: 200px;
    height: 56px;
  }
}

.footer-links {
  padding: 1em;
  padding-bottom: 2em;
  text-align: center;
  margin: 0 auto;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
}