.container-narrow {
  &:before {
  display: table;
  line-height:0;
  content: "";
  }
  margin: 0 auto;
  max-width: 700px;
  display:block;

  &:after {
  display: table;
  line-height:0;
  content: "";
  }

}
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 64px;
  line-height: 1;
  margin: 10px auto;
}
h2 {
  margin: 0 auto 20px 0;
}
.alert {
  margin: 20px auto;
}

.hide {
  display: none;
}

.underline {
  text-decoration: underline;
}

.pagination em {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.avatar, .navbar .nav img {
  max-height: 50px;
  margin: 2px auto;
}

ul#repo-tabs li.active a {
  background-color: #f5f5f5;
}

ul.repos-list li {
  margin: 0 auto 30px 0;
}
ul.repos-list li span {
  float: left;
}
ul.repos-list li h4, ul.repos-list li p {
  margin-left: 50px
}

.span6 ul.repos-list li {
  width: 280px;
}

hr {
  clear: both;
}


.repos-list small {
  font-size:85%;
  opacity:0.85;
}

.repos-list .badge {
  text-align: center;
  font-weight:normal;
  width: 20px;
}

.avatars_list {
  margin: 0 0 10px 0;
  float: left;
  width: 100%;
  li {
    padding: 0 5px 0 0;
    float:left;
  }
  .more {
    margin-top: 10px;
  }
}

.navbar{
  .brand{
    text-shadow:none;
  }
}

.masthead {
  img {
    position: relative;
    top: 2px;
    margin-right: 4px;
  }
}

.muted {
  a {
    color: inherit;
  }
}

.popover {
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.new_repo {
  .btn-primary {
    margin: 0 0 10px 5px;
  }

  .url_field {
    width: 80.5%;
  }
}
@media( max-width: 768px)

{
.hidden-xs {
display:none;
}
}
