.hide {
  display: none;
}

.underline {
  text-decoration: underline;
}

.pagination em {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #DDD;
  border-left-width: 0;
}

a.btn:visited {
  color: white;
}

.navbar .nav img {
  max-height: 36px;
  margin: 2px auto;
}

ul.repos-list li {
  float: left;
  width: 340px;
  height: 20px;
  display: inline-block;
}

.span6 ul.repos-list li {
  width: 280px;
}

hr {
  clear: both;
}


.repos-list small {
  font-size:85%;
  opacity:0.85;
}

.repos-list .badge {
  text-align: center;
  font-weight:normal;
  width: 20px;
}
