.markdown-body {
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size:16px;
    line-height:1.5;
    word-wrap:break-word
}
.markdown-body::before{
    display:table;
    content:""
}
.markdown-body::after{
    display:table;
    clear:both;
    content:""
}
.markdown-body>*:first-child{
    margin-top:0 !important
}
.markdown-body>*:last-child{
    margin-bottom:0 !important
}
.markdown-body a:not([href]){
    color:inherit;
    text-decoration:none
}
.markdown-body p,.markdown-body blockquote,.markdown-body ul,.markdown-body ol,.markdown-body dl,.markdown-body table,.markdown-body pre{
    margin-top:0;
    margin-bottom:16px
}
.markdown-body hr{
    height:.25em;
    padding:0;
    margin:24px 0;
    background-color:#e1e4e8;
    border:0
}
.markdown-body blockquote{
    padding:0 1em;
    color:#6a737d;
    border-left:0.25em solid #dfe2e5
}
.markdown-body blockquote>:first-child{
    margin-top:0
}
.markdown-body blockquote>:last-child{
    margin-bottom:0
}
.markdown-body h1,.markdown-body h2,.markdown-body h3,.markdown-body h4,.markdown-body h5,.markdown-body h6{
    margin-top:24px;
    margin-bottom:16px;
    font-weight:600;
    line-height:1.25
}
.markdown-body h1 tt,.markdown-body h1 code,.markdown-body h2 tt,.markdown-body h2 code,.markdown-body h3 tt,.markdown-body h3 code,.markdown-body h4 tt,.markdown-body h4 code,.markdown-body h5 tt,.markdown-body h5 code,.markdown-body h6 tt,.markdown-body h6 code{
    font-size:inherit
}
.markdown-body h1{
    padding-bottom:0.3em;
    font-size:2em;
    border-bottom:1px solid #eaecef
}
.markdown-body h2{
    padding-bottom:0.3em;
    font-size:1.5em;
    border-bottom:1px solid #eaecef
}
.markdown-body h3{
    font-size:1.25em
}
.markdown-body h4{
    font-size:1em
}
.markdown-body h5{
    font-size:0.875em
}
.markdown-body h6{
    font-size:0.85em;
    color:#6a737d
}
.markdown-body ul,.markdown-body ol{
    padding-left:2em
}
.markdown-body ul.no-list,.markdown-body ol.no-list{
    padding:0;
    list-style-type:none;
}
.markdown-body ul ul,.markdown-body ul ol,.markdown-body ol ol,.markdown-body ol ul{
    margin-top:0;
    margin-bottom:0;
}
.markdown-body li{
    word-wrap:break-all;
    list-style-type: disc;
}
.markdown-body li>p{
    margin-top:16px
}
.markdown-body li+li{
    margin-top:.25em
}
.markdown-body dl{
    padding:0
}
.markdown-body dl dt{
    padding:0;
    margin-top:16px;
    font-size:1em;
    font-style:italic;
    font-weight:600
}
.markdown-body dl dd{
    padding:0 16px;
    margin-bottom:16px
}
.markdown-body table{
    display:block;
    width:100%;
    overflow:auto
}
.markdown-body table th{
    font-weight:600
}
.markdown-body table th,.markdown-body table td{
    padding:6px 13px;
    border:1px solid #dfe2e5
}
.markdown-body table tr{
    background-color:#fff;
    border-top:1px solid #c6cbd1
}
.markdown-body table tr:nth-child(2n){
    background-color:#f6f8fa
}
.markdown-body table img{
    background-color:transparent
}
.markdown-body img{
    max-width:100%;
    box-sizing:content-box;
    background-color:#fff
}
.markdown-body img[align=right]{
    padding-left:20px
}
.markdown-body img[align=left]{
    padding-right:20px
}
.markdown-body code,.markdown-body tt{
    padding:0.2em 0.4em;
    margin:0;
    font-size:85%;
    background-color:rgba(27,31,35,0.05);
    border-radius:3px
}
.markdown-body code br,.markdown-body tt br{
    display:none
}
.markdown-body del code{
    text-decoration:inherit
}
.markdown-body pre{
    word-wrap:normal
}
.markdown-body pre>code{
    padding:0;
    margin:0;
    font-size:100%;
    word-break:normal;
    white-space:pre;
    background:transparent;
    border:0
}
.markdown-body .highlight pre{
    margin-bottom:0;
    word-break:normal
}
.markdown-body .highlight pre,.markdown-body pre{
    padding:16px;
    overflow:auto;
    font-size:85%;
    line-height:1.45;
    background-color:#f6f8fa;
    border-radius:3px
}
.markdown-body pre code,.markdown-body pre tt{
    color:#6a737d;
    display:inline;
    max-width:auto;
    padding:0;
    margin:0;
    overflow:visible;
    line-height:inherit;
    word-wrap:normal;
    background-color:transparent;
    border:0
}

