<%= stylesheet_link_tag "markdown.css" %>

<div class="readme">
  <article class="markdown-body">
    <%= yield %>
  </article>
  <div class="footer">
    <div class="logo-wrapper">
      <%= link_to image_tag(asset_url('logo-dark-text.svg')), root_url %>
    </div>
  </div>
</div>
